
.foodForm {
  margin: 8px;
  display: flex;
  align-items: center;
}

.foodForm input, 
.foodForm select {
  font-size: 26px;
  display: inline-block;
  margin-left: 8px;
  border-radius: 6px;
}

.foodFormLabel {
  color: white;
  font-size: 28px;
}
